/* You can add global styles to this file, and also import other style files */
body {
  background: #1b1e27;
  color: white;
  margin: 0;
}

input {
  width: 100%;
  background: transparent;
  border: 1px solid white;
  font-size: 20px;
  height: 60px;
  border-radius: 20px;
  outline: none;
  padding-left: 20px;
  color: white;
}

@keyframes moveleft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@for $i from 1 through 9 {
  ::view-transition-new(item-#{$i}),
  ::view-transition-old(item-#{$i})
  {
    animation-duration: 1s;
  }
}
